# Pandas

## Лабораторная работа №2

### Базовые операции с `DataFrame`

In [5]:
import numpy as np
import pandas as pd

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [8]:
recipes = pd.read_csv('data/recipes_sample.csv')
reviews = pd.read_csv('data/reviews_sample.csv', engine='python')
reviews.set_index('Unnamed: 0')

,user_id,recipe_id,date,rating,review
Unnamed: 0,,,,,
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [9]:
print("Параметры для recipes")
print("Количество точек данных:")
recipes_rows = recipes.shape[0]
print(recipes_rows)
print("Количество столбцов:")
print(recipes.shape[1])
print("Тип данных столбцов:")
print(recipes.dtypes)

print("Параметры для reviews")
print("Количество точек данных:")
reviews_rows = reviews.shape[0]
print(reviews_rows)
print("Количество столбцов:")
print(reviews.shape[1])
print("Тип данных столбцов:")
print(reviews.dtypes)

Параметры для recipes
Количество точек данных:
30000
Количество столбцов:
8
Тип данных столбцов:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object
Параметры для reviews
Количество точек данных:
126696
Количество столбцов:
6
Тип данных столбцов:
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [10]:
print("Строки с пропусками для recipes")
print(recipes.isna().any())
num_missing_recipes = recipes.isna().any(axis=1).sum()
print("Доля строк с пропусками для recipes:")
print(num_missing_recipes/recipes_rows)
print("Строки с пропусками для reviews")
print(reviews.isna().any())
num_missing_reviews = reviews.isna().any(axis=1).sum()
print("Доля строк с пропусками для reviews:")
print(num_missing_reviews/reviews_rows)

Строки с пропусками для recipes
name              False
id                False
minutes           False
contributor_id    False
submitted         False
n_steps            True
description        True
n_ingredients      True
dtype: bool
Доля строк с пропусками для recipes:
0.5684666666666667
Строки с пропусками для reviews
Unnamed: 0    False
user_id       False
recipe_id     False
date          False
rating        False
review         True
dtype: bool
Доля строк с пропусками для reviews:
0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [11]:
print("Среднее количество ингредиентов", recipes['n_ingredients'].mean())
print("Среднее значение рейтинга", reviews['rating'].mean())
print("Среднее количество шагов", recipes['n_steps'].mean())
print("Среднее время", recipes['minutes'].mean())

Среднее количество ингредиентов 9.008285984848484
Среднее значение рейтинга 4.410802235271832
Среднее количество шагов 9.805582137161085
Среднее время 123.35813333333333

1.5 Создайте серию из 10 случайных названий рецептов.

In [12]:
print(recipes.sample(10)['name'])

6106                                 chicken ziti bake
11375    fresh greens  avocado with a lime vinaigrette
805                    apple and dried fruit spice pie
21429          potato pierogies with cabbage and bacon
18455            my mother s cocoa peanut butter fudge
1426              authentic hawaiian huli huli chicken
21527                      prawns peri peri mozambique
2352                                      barrier reef
27093      tender chicken and baby spinach in red wine
12466                       granny s special bbq sauce
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [13]:
reviews.reset_index()

,index,Unnamed: 0,user_id,recipe_id,date,rating,review
0,0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...,...
126691,126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [14]:
recipes[(recipes.minutes < 21) & (recipes.n_ingredients < 6)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [15]:
recipes = recipes.astype({'submitted':'datetime64'})
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [16]:
latest_rec = recipes[recipes['submitted'].dt.year>=2010]
latest_rec

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29992,zucchini courgette soup good for weight watc...,415406,45,485109,2010-03-04,5.0,this is a favourite winter warmer. by british ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [17]:
recipes = recipes.astype({'description':'string'})
recipes['description_lenght'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [18]:
recipes['name'] = recipes['name'].str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [19]:
recipes['name_word_count'] = recipes['name'].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [20]:
c = recipes.groupby("contributor_id").size()
print(c) 
print(c[c == c.max()].index[0])

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Length: 8404, dtype: int64
89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [23]:
print('Рецепты без отзывов')
print(len(recipes.groupby('name').size()) - len(reviews.groupby('recipe_id').size()))
reviews.groupby('recipe_id').mean('rating').drop('user_id', axis=1)

Рецепты без отзывов
1875

              Unnamed: 0    rating
recipe_id
48         532498.500000  1.000000
55         462145.500000  4.750000
66         101878.222222  4.944444
91         645099.250000  4.750000
94         662690.500000  5.000000
...                  ...       ...
536547     518674.000000  5.000000
536610      92948.000000  0.000000
536728     600494.000000  4.000000
536729     744603.000000  4.750000
536747     631001.500000  0.000000

[28100 rows x 2 columns]

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [24]:
recipes.groupby(recipes.submitted.dt.year).size()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [25]:
temp = recipes[['id','name']].copy()
recipes_without_reviews = temp.merge(reviews[['user_id','rating']], left_on='id', right_on='user_id')

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [26]:
temp = recipes[['id','name']].copy()
df = temp.merge(reviews[['recipe_id', 'rating', 'date']], right_on='recipe_id', left_on='id')
df = df.drop(['id', 'name', 'recipe_id'], axis=1)

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [27]:
df.date = pd.DatetimeIndex(df.date).to_period("Y")
df.groupby('date').mean().sort_values('rating')

        rating
date
2017  3.353042
2000  3.384615
2018  3.504076
2016  3.912603
2015  4.047145
2014  4.110595
2001  4.134426
2013  4.274168
2011  4.302045
2012  4.341427
2010  4.454440
2002  4.481556
2008  4.484635
2009  4.524728
2003  4.526940
2004  4.546548
2007  4.547077
2005  4.563680
2006  4.603673

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [28]:
recipes = recipes.sort_values(by=['name_word_count'], ascending=False)
recipes.to_csv("my_data.csv", index=True)

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [29]:
with pd.ExcelWriter("res.xlsx") as writer:
    recipes_without_reviews.to_excel(writer, sheet_name="Рецепты с оценками")  
    df.to_excel(writer, sheet_name="Количество отзывов по рецептам")